*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

.none{
    display: none;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.containerMini{
    width: 832px;
    margin: 0 auto;
}