.basket_wrapper{
    display: flex;
}

.basketProduct_wrapper {
    max-width: 700px;
    display: flex;
    justify-content: center;
    column-gap: 45px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
}

.basketProductMenu_wrapper {
    margin-left: 45px;
}